<div class="dev">
<header>
    <h1>{{ site.title | escape }} Development</h1>
    {% if site.navigation %}<nav>{% for path in site.dev_navigation %}{% assign node = site.pages | where: "name", path | first %}<a href="{{ node.url | relative_url }}" {% if page.name == path %}class="currentpage"{% endif %}>{{ node.dev_title }}</a>{% endfor %}</nav>{% endif %}
    {% if site.dev_icons %}<nav>{% for link in site.dev_icons %}<a class="icon" href="{{ link[1] }}"><svg><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ link[0] }}"></use></svg></a>{% endfor %}</nav>{% endif %}    
</header>
</div>
