
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Questia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ get_url(path="assets/css/classes.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/fontawesome/regular.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/fontawesome/brands.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/index.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/anchor.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/basic.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/default.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/dialog.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/form.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/highlight.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/layout.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/sidebar.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/table.css") }}>
    <link rel="stylesheet" href={{ get_url(path="assets/css/vendor.css") }}>
</head>

<body class="body-background">

{% include "navbar.html" %}

{% block body %} {% endblock %}

{% include "footer.html" %}

</body>

</html>
